.fullarea {
  width: 100%;
  height: 100%;
}
.imageBox {
  width: 120px;
  height: 120px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
}
.radiusBox {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  border-radius: 50%;
}
.skillimageBox {
  width: 120px;
  height: 120px;
  float: left;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  text-transform: uppercase;
  float: right;
}
.cursorDefault {
  cursor: url('../../images/cursor_default.bmp');
}
.cursorTarget {
  cursor: url('../../images/cursor_buy.bmp');
}
* {
  margin: 0;
  padding: 0;
}
* body,
* html {
  height: 100%;
  width: 100%;
  background-color: #8764b8;
}
* #container {
  cursor: url('../../images/cursor_default.bmp');
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [c1] 150px [c2] 1fr [c3];
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
* #container #main {
  width: 100%;
  height: 100%;
}
* #container #main .header {
  height: 120px;
}
* #container #main .area {
  width: 100%;
  height: 600px;
  position: relative;
}
